<div class="top-menu">    

    <a mat-button [routerLink]="['/products']"> 
        <span fxShow="false" fxShow.gt-sm>Products</span> 
    </a>
   
    <a mat-button [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger"> 
        <span fxShow="false" fxShow.gt-sm>Services</span> <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown account" >
        <span>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Business Services</span> 
            </a>
            <div class="divider"></div>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Communication</span> 
            </a>
            <div class="divider"></div>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Construction & Engineering</span> 
            </a>
            <div class="divider"></div>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Distribution</span> 
            </a>
            <div class="divider"></div>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Education</span> 
            </a>
            <div class="divider"></div>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Environmental</span> 
            </a>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Finance</span> 
            </a>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Tourism</span> 
            </a>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Health</span> 
            </a>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Recreation</span> 
            </a>
            <a mat-menu-item [routerLink]="['/products']" [queryParams]="{services: true}"> 
                <span>Transportation</span> 
            </a>
        </span>
    </mat-menu>  
    <a mat-button routerLink="/partners"> 
        <span fxShow="false" fxShow.gt-sm>Partners</span> 
    </a>
    <a mat-button routerLink="/about-us"> 
        <span fxShow="false" fxShow.gt-sm>About</span> 
    </a>

    <!-- <a mat-button [matMenuTriggerFor]="currencyMenu" #currencyMenuTrigger="matMenuTrigger">
        {{currency}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #currencyMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span (mouseleave)="currencyMenuTrigger.closeMenu()">
            <button mat-menu-item *ngFor="let cur of currencies" (click)="changeCurrency(cur)">
                <span>{{cur}}</span>
            </button>
        </span>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger">
        <img [src]="flag.image" width="18">
        <span fxShow="false" fxShow.gt-sm class="flag-menu-title">{{flag.name}}</span>
        <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #langMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown">
        <span (mouseleave)="langMenuTrigger.closeMenu()">
            <button mat-menu-item *ngFor="let flag of flags" (click)="changeLang(flag)">
                <img [src]="flag.image" width="18"> {{flag.name}}
            </button>
        </span>
    </mat-menu>

    <span fxShow="false" fxShow.gt-sm>
        <a mat-button routerLink="/compare">Compare  ({{localAuthService?.Data.compareList?.length}})</a>
        <a mat-button routerLink="/wishlist">Wishlist ({{localAuthService?.Data.wishList?.length}})</a>
    </span>  

    <a mat-button *ngIf="!authService.loggedIn" routerLink="/sign-in"> 
        <mat-icon class="mat-icon-sm account-icon">person</mat-icon> <span fxShow="false" fxShow.gt-sm>Sign in</span> 
    </a>

    <a mat-button [matMenuTriggerFor]="accountMenu" #accountMenuTrigger="matMenuTrigger" *ngIf="authService.loggedIn"> 
        <mat-icon class="mat-icon-sm account-icon">person</mat-icon> <span fxShow="false" fxShow.gt-sm>account</span> <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #accountMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-dropdown account" >
        <span >
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info" *ngIf="authService.loggedIn && authService.user && authService.user.displayName">                   
                <img src="assets/images/others/user.jpg" alt="user-image" width="50">
                <p>{{localAuthService?.user?.displayName}}<br> </p>
            </div>
            <div class="divider"></div>
            <a mat-menu-item routerLink="/account"> 
                <mat-icon class="mat-icon-sm">settings</mat-icon>
                <span>Account Settings</span> 
            </a>
            <a mat-menu-item routerLink="/compare" fxHide="false" fxHide.gt-sm>
                <mat-icon class="mat-icon-sm">compare</mat-icon>
                <span>Compare ({{localAuthService?.Data.compareList?.length}})</span> 
            </a>
            <a mat-menu-item routerLink="/wishlist" fxHide="false" fxHide.gt-sm>
                <mat-icon class="mat-icon-sm">favorite</mat-icon>
                <span>Wishlist ({{localAuthService?.Data.wishList?.length}})</span>
            </a>
            <div class="divider"></div>
            <a mat-menu-item > 
                <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
                <span (click)="signOut()">Sign Out</span> 
            </a>
        </span>
    </mat-menu>     -->

</div>  