<div class="banners-container" fxLayout="column" fxLayout.gt-sm="row" *ngIf="banners.length > 0">
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="40">
        <div class="banner" *ngIf="banners[0]" fxFlex="50" fxFlex.gt-sm="67" [ngStyle]="getBgImage(0)">
            <div class="info" fxLayoutAlign="start start">
                <div class="px-2" fxLayout="column" fxLayoutAlign="center center">
                    <h1 class="title">{{banners[0].title}}</h1>
                    <a [routerLink]="['/products', banners[0].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                </div> 
            </div> 
        </div>
        <div fxLayout="row" *ngIf="banners[1]" fxFlex="50" fxFlex.gt-sm="33">
            <div class="banner" fxFlex [ngStyle]="getBgImage(1)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                      <h2 class="title">{{banners[1].title}}</h2>
                      <a [routerLink]="['/products', banners[1].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div> 
                </div> 
            </div>
            <div class="banner" *ngIf="banners[2]" fxFlex [ngStyle]="getBgImage(2)">
                <div class="info" fxFlex fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                      <h2 class="title">{{banners[2].title}}</h2>
                      <a [routerLink]="['/products', banners[2].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="60">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="33">
            <div class="banner" fxFlex *ngIf="banners[3]" [ngStyle]="getBgImage(3)">
                <div class="info" fxLayoutAlign="space-around center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                      <h2 class="title">{{banners[3].title}}</h2>
                      <a [routerLink]="['/products', banners[3].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>                    
                </div>
            </div>
            <div class="banner" fxFlex [ngStyle]="getBgImage(4)" *ngIf="banners[4]">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                      <h2 class="title">{{banners[4].title}}</h2>
                      <a [routerLink]="['/products', banners[4].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div> 
            </div>
        </div>
        <div class="banner" fxFlexOrder="1" fxFlexOrder.gt-sm="2" fxFlex="50" fxFlex.gt-sm="67" [ngStyle]="getBgImage(5)" *ngIf="banners[5]">
            <div class="info" fxLayout="column" fxLayoutAlign="center end">
                <div class="px-2" fxLayout="column" fxLayoutAlign="center center">
                  <h1 class="title">{{banners[5].title}}</h1>
                  <a [routerLink]="['/products', banners[5].value]" mat-raised-button color="primary" class="mt-2">Shop now</a>
                </div>
            </div> 
        </div>
    </div>
</div>