// p::before { 
//     font-family: "Material Icons"; 
//     content: "\E87C";
//     font-size: 20px;
// }
.title{
    font-size: 18px;
    font-weight: 700;
}
.subtitle{
    font-size: 15px;
}
.manufacturer{
    margin: 10px 0 20px 0;
}
.text{
    margin: 10px 0 20px 0;
}