.auth{
    white-space: nowrap;
    padding: 7px 14px;
    font-weight: 500;    
}
.reset-pass{
    color: black;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 15px 0;
    cursor: pointer;
    display: block;
    text-decoration: underline;
}