<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center" >
    <a mat-button routerLink="/manufactures" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Manufactures</a>
    <a mat-button routerLink="/wholesalers" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Wholesalers</a>
    <a mat-button routerLink="/retailers-and-stores" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Retailers & Stores</a>
    <a mat-button routerLink="/services-providers" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Services Providers</a>
    <a mat-button routerLink="/concierge-managers" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Concierge Managers</a>
    <a mat-button routerLink="/regional-managers" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Regional Managers</a>
    <!-- <ng-container *ngFor="let category of categories">
        <a mat-button *ngIf="category.hasSubCategory" [matMenuTriggerFor]="menu" (click)="openMegaMenu()">{{category.name}}<mat-icon class="caret">arrow_drop_down</mat-icon></a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" class="mega-menu app-dropdown">
            <div fxLayout="row wrap">
                <div fxFlex="20" fxLayout="column" class="p-1"> 
                    <ng-container *ngFor = "let cat of categories">
                        <a *ngIf="cat.parentCategory?.toLowerCase() == category.name?.toLowerCase()" mat-menu-item [routerLink]="['/products', cat.value]" ><b>{{cat.name}}</b></a>
                    </ng-container>  
                    <a mat-menu-item [routerLink]="['/products', category.value]"><b>View All</b></a>            
                </div>
            </div>
        </mat-menu>
        <a *ngIf="!category.hasSubCategory && category.parentCategory == null" mat-button [routerLink]="['/products', category.value]" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">{{category.name}}</a>
    </ng-container> -->
    
    
    <!-- <a mat-button [routerLink]="['/products', 'electronics']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Electronics</a>
    <a mat-button [routerLink]="['/products', 'sports']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Sports</a>
    <a mat-button [routerLink]="['/products', 'motors']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Motors</a> -->

    <!-- <a mat-button [matMenuTriggerFor]="animals">Pages<mat-icon class="caret">arrow_drop_down</mat-icon></a>
    <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown"> 
        <a mat-menu-item routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contact</a>  
    </mat-menu> -->

    <!-- <mat-menu #others="matMenu" class="app-dropdown">
        <a mat-menu-item href="http://themeseason.com" target="_blank">External Link</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
    </mat-menu> -->
    
    <!-- <a mat-button routerLink="/products" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">All products</a> -->

</mat-toolbar>

