<app-main-carousel [slides]="slides"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
            <div class="content">
                <p>BONUS PLUS</p> 
                <span class="text-muted m-0">Make fun of shopping and collect bonuses</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>FREE SHIPPING</p> 
                <span class="text-muted m-0">Free shipping on all orders over $99</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
            <div class="content">
                <p>MONEY BACK GUARANTEE</p> 
                <span class="text-muted m-0">30 Days money return guarantee</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50"> 
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>ONLINE SUPPORT 24/7</p> 
                <span class="text-muted m-0">Call us: 702.800.5464</span>
            </div> 
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">  

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Featured" *ngIf="featuredProducts.length > 0">       
            <app-products-carousel *ngIf="products.length > 0" [products]="featuredProducts"></app-products-carousel>
            <!-- <div *ngIf="featuredProducts.length > 0" class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper h-100" >      
                    <div *ngFor="let product of featuredProducts" class="swiper-slide" [ngStyle]="{'height':'452px'}">
                        <mat-card class="product-item" [ngStyle]="{'height':'100%'}">
                            <mat-chip-list *ngIf="product.discount">
                                <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                                <img [attr.data-src]="product.images[0]" class="swiper-lazy"/>
                                <div class="swiper-lazy-preloader"></div>
                            </a>
                            <h4 class="category text-muted">{{product.categoryLabel}}</h4>                                                                     
                            <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                                {{product.name}}
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price">${{product.newPrice | number : '1.2-2'}}</p>
                                </div>
                                <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                            </div>                            
                            <div class="divider mt-2"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <button [disabled]="config.slidesPerView == featuredProducts.length" mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button [disabled]="config.slidesPerView == featuredProducts.length" mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
            </div> -->
        </mat-tab>
        <mat-tab label="On Sale" *ngIf="saleProducts.length > 0">
            <app-products-carousel *ngIf="products.length > 0" [products]="saleProducts"></app-products-carousel>
            <!-- <div *ngIf="saleProducts.length > 0" class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper h-100" >      
                    <div *ngFor="let product of saleProducts" class="swiper-slide" [ngStyle]="{'height':'452px'}">
                        <mat-card class="product-item" [ngStyle]="{'height':'100%'}">
                            <mat-chip-list *ngIf="product.discount">
                                <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                                <img [attr.data-src]="product.images[0]" class="swiper-lazy"/>
                                <div class="swiper-lazy-preloader"></div>
                            </a>
                            <h4 class="category text-muted">{{product.categoryLabel}}</h4>                                                                     
                            <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                                {{product.name}}
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price">${{product.newPrice | number : '1.2-2'}}</p>
                                </div>
                                <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                            </div>                            
                            <div class="divider mt-2"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <button mat-mini-fab [disabled]="config.slidesPerView == saleProducts.length" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-mini-fab [disabled]="config.slidesPerView == saleProducts.length" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
            </div> -->
        </mat-tab>
        <!-- <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab> -->
        <mat-tab label="New Arrivals" *ngIf="newProducts.length > 0">
            <!-- <div *ngIf="newProducts.length > 0" class="swiper-container" [swiper]="config"> -->
                <app-products-carousel *ngIf="products.length > 0" [products]="newProducts"></app-products-carousel>
                <!-- <div class="swiper-wrapper h-100" >      
                    <div *ngFor="let product of newProducts" class="swiper-slide" [ngStyle]="{'height':'452px'}">
                        <mat-card class="product-item" [ngStyle]="{'height':'100%'}">
                            <mat-chip-list *ngIf="product.discount">
                                <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                                <img [attr.data-src]="product.images[0]" class="swiper-lazy"/>
                                <div class="swiper-lazy-preloader"></div>
                            </a>
                            <h4 class="category text-muted">{{product.categoryLabel}}</h4>                                                                     
                            <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                                {{product.name}}
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price">${{product.newPrice | number : '1.2-2'}}</p>
                                </div>
                                <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                            </div>                            
                            <div class="divider mt-2"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <button [disabled]="config.slidesPerView == newProducts.length" mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button [disabled]="config.slidesPerView == newProducts.length" mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>  -->
            <!-- </div>         -->
        </mat-tab>
    </mat-tab-group> 


</div>

<!-- <app-brands-carousel [brands]="brands"></app-brands-carousel>  -->